<div *ngIf="appUser">
    <button type="button" class="btn btn-lg btn-outline-primary" (click)="open()" *ngIf="appUser.isAdmin">New +</button>
    <hr>
</div>

<p>
    <input
        #query
        (keyup)="filter(query.value)"
        type="text" class="form-control" placeholder="Search...">
</p>
    
<table class="table table-striped">
    <col>
    <col>
    <col>
    <col width="30">
    <col width="30">

    <thead>
    <tr>
    <th scope="col">Unitcode</th>
    <th scope="col">Question</th>
    <th scope="col">Answer</th>
    <th scope="col"></th>
    <th scope="col"></th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of filteredUnits">
    <th scope="row">{{ item.unitcode }}</th>
    <td>
        {{ item.question }}
    </td>
    <td>
        {{ item.answer }}
    </td>
    <td class="align-middle">
        <button class="btn btn-primary" (click)="edit(item.id)">Edit</button>
    </td>
    <td class="align-middle">
        <button class="btn btn-danger" (click)="delete(item)">Delete</button>
    </td>

    </tr>
    </tbody>
</table>
